Message_Model_Lib/Request_OFS.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
        <xsd:complexType name="UserInformation">
    <xsd:sequence dfdl:separator="/">
      <xsd:element name="SignOnName" type="xsd:string"/>
      <xsd:element name="Password" type="xsd:string"/>
      <xsd:element name="Company_Code" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="Options">
    <xsd:sequence dfdl:separator="/">
      <xsd:element name="Version_Name" type="xsd:string"/>
      <xsd:element name="Function" type="xsd:string"/>
      <xsd:element name="Process_Type" type="xsd:string"/>
      <xsd:element name="GTS_Control_Value" type="xsd:string"/>
      <xsd:element name="No_Of_Authrisers" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>


	<xsd:element ibmSchExtn:docRoot="true" name="Request_OFS">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="/">
				<xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="%CR;%LF;%WSP*;" maxOccurs="unbounded" name="record">
					<xsd:complexType>
						<xsd:sequence dfdl:separatorSuppressionPolicy="trailingEmpty">
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="ApplicationName" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value2" name="Options" type="Options"/>
							<xsd:element ibmDfdlExtn:sampleValue="value3" name="UserInformation" type="UserInformation"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value4" name="TransactionId" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value5" maxOccurs="unbounded" name="MessageData" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>				
                			                                                                            </xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>