Request_Loan_Notification/Request_Loan_Notification_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://VMTComponentModel/InterfaceSpecification/Interfaces/C4/IC4FSP2VMT" xmlns:c4="http://VMTComponentModel/InterfaceSpecification/Messages/C4/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:ic4="http://VMTComponentModel/InterfaceSpecification/Interfaces/C4/IC4FSP2VMT" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <xsd:import namespace="http://VMTComponentModel/InterfaceSpecification/Messages/C4/" schemaLocation="Request_Loan_Notification_InlineSchema2.xsd"/>
      <xsd:element ibmSchExtn:docRoot="true" name="FSPInitiatedLoanNotification">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="c4:request" maxOccurs="1" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="FSPInitiatedLoanNotificationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="FSPInitiatedLoanNotificationResult" type="c4:FSPInitiatedLoanNotificationResult" maxOccurs="1" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>