Activating_FSI_Product/Activating_FSI_Product_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://VMTComponentModel/InterfaceSpecification/Interfaces/C4/VMTtoFSPService" xmlns:c4="http://VMTComponentModel/InterfaceSpecification/FSPDefined/Messages/C4/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:vmt="http://VMTComponentModel/InterfaceSpecification/Interfaces/C4/VMTtoFSPService" xmlns:vmt1="http://schemas.datacontract.org/2004/07/VMT.BankingIntegration.FSIC4Simulator.Common" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:import namespace="http://VMTComponentModel/InterfaceSpecification/FSPDefined/Messages/C4/" schemaLocation="Activating_FSI_Product_InlineSchema2.xsd"/>
      <xsd:element ibmSchExtn:docRoot="true" name="ActivateAccount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="request" type="c4:request"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="ActivateAccountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ActivateAccountResult" type="c4:ActivateAccountResult" maxOccurs="1" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
    </xsd:schema>